<div class="chat-component" *ngIf="showChat">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Click here to chat with admin
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="chat-body">
      <div *ngIf="messageList.length ">
        <div class="chat-box" *ngFor="let message of messageList">
          <div class="chat-text-field" *ngIf="user.isAdmin && ((message.from === 'receiver' && message.senderId === senderId) || (message.from === 'sender' && message.receiverId === senderId))"
            [ngClass]="(message.from === 'sender' ? 'sent-box' : 'receive-box')">
            <p>{{message.text}}</p>
            <p>{{message.userName}}</p>
          </div>

          <div class="chat-text-field" *ngIf="!user.isAdmin"
            [ngClass]="(message.from === 'sender' ? 'sent-box' : 'receive-box')">
            <p>{{message.text}}</p>
            <p>{{message.userName}}</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <form class="chat-form">
        <mat-form-field class="example-full-width">
          <input matInput name="message" [(ngModel)]="chat.message" placeholder="Enter text">
        </mat-form-field>
        <mat-icon svgIcon="thumbs-up" (click)="sendMessage(chat)" aria-hidden="false"
          aria-label="Example thumbs up SVG icon"></mat-icon>
      </form>
    </div>

  </mat-expansion-panel>
</div>