<h2 mat-dialog-title></h2>

<mat-dialog-content >
  <form class="login-form" [formGroup]="formData"  (ngSubmit)="onSubmit()">
    <mat-form-field class="login-form-field">
      <input type="text" placeholder="Enter Name" formControlName="userName"  aria-label="Name" matInput>
    </mat-form-field>
    <mat-form-field class="login-form-field">
      <input type="text" placeholder="Password" formControlName="password"   aria-label="Password" matInput>
    </mat-form-field>

    <div *ngIf="isError">
      <p class="error">{{erroMessage}}</p>
    </div>


    <mat-dialog-actions align="center" class="login-btns">
        <button class="mat-raised-button" (click)="close()" >Close</button>
        <button class="mat-raised-button mat-primary" type="submit">Save</button>
    </mat-dialog-actions>
      </form>

</mat-dialog-content>
