<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
   aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto" *ngIf="!isLoggedIn$.source.value">
      <a class="nav-item nav-link" (click)="openLoginDialog()">Login<span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-nav ml-auto" *ngIf="isLoggedIn$.source.value">
        <a class="nav-item nav-link" *ngIf="!isAdmin$.source.value" routerLink="/home">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link"*ngIf="!isAdmin$.source.value" routerLink="/cart">Cart<span class="sr-only"></span></a>
        <a class="nav-item nav-link" (click)="logout()">Logout<span class="sr-only"></span></a>
    </div>
  </div>
</nav>
<div class="landing-page" *ngIf="!isLoggedIn$.source.value">
  <img  src="assets/images/image.jpeg"/>
</div>



<router-outlet></router-outlet>
