/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.login-form{
  width: 100%;
    .login-form-field{
        width: 100%;
    }
}
.login-btns{
    text-align: center;
    .mat-raised-button{
        width: 100px;
        height: 40px;
        border-radius: 20px;
    }
}
.error{
  color: red;
  font-size: 12px;
}
mat-dialog-content{
  height: 70%;
  margin-top: 60px;
}

mat-dialog-actions{
  margin-top: 30px;
}
