<div class="container">
  <div class="product-header">
    <button (click)="addProductModal()">Add Product</button>
  </div>
  <div class="product-section">
      <div class="row">
          <div class="col-4 product-card" *ngFor="let product of productList">
            <form class="login-form "   #myform="ngForm"  (ngSubmit)="updateProduct(product)">

            <mat-form-field class="login-form-field">
              <input type="text" [disabled]="product.isDisabled"  name="product name" class="form-input" placeholder="Enter Product Name"  [(ngModel)] = "product.name"  aria-label="Name" matInput>
            </mat-form-field>
            <mat-form-field class="login-form-field">
              <input type="text" [disabled]="product.isDisabled" placeholder="Enter Amount"name="amount" class="form-input"  [(ngModel)] = "product.amount" aria-label="Password" matInput>
            </mat-form-field>
            <div *ngIf="product.isDisabled">
              <button type="button" (click)="enableEdit(product)">Edit</button>
            </div>
            <div *ngIf="!product.isDisabled">
              <button type="submit">Submit</button>
              <button (click)="cancelEdit(product)" type="button">Cancel</button>
          </div>
          </form>
          </div>
      </div>
  </div>
</div>
